# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
/shelf/
/workspace.xml

# ========================
# Maven
# ========================
/target/

# ========================
# Java
# ========================
*.class

# ========================
# Dados locais
# ========================
/dataSources/
/dataSources.local.xml
/mavenHomeManager.xml

# ========================
# Outros comuns (opcional)
# ========================
*.log
.DS_Store
